<mat-toolbar class="d-f-row" color="primary">
    <div class="f-s-1 d-f-row">
        <div id="home-icon-container" class="d-f-column j-c-center" (click)="switchToDefaultMode()">
            <i id="home-icon" class="material-icons">
                home
            </i>
        </div>
    </div>
    <div class="f-s-1 d-f-row j-c-cc">
        <span>Star Wars API</span>
    </div>
    <div class="f-s-1"></div>
</mat-toolbar>