:host {
    flex: 1;
    display: flex;
}

#search-icon {
    color: #777;
}

.list-entry-class {
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s;
}

.list-entry-class:hover,
.selected-list-entry {
    background-color: #e0e0e0;
}