<div class="f-s-1 d-f-column">
    <div class="d-f-row j-c-cc">
        <h3>Chosen category: {{modeHtml}}</h3>
    </div>
    <div class="f-s-1 d-f-row">
        <div class="m-20 f-s-1 d-f-column v-group">
            <div class="d-f-column v-group">
                <div class="d-f-row j-c-cc h-group">
                    <span>Search {{this.mode}} by </span>
                    <mat-form-field>
                        <mat-select [(ngModel)]="dropdownSelection">
                            <mat-option *ngFor="let option of dropdownOptions" [value]="option.value">
                                {{option.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="d-f-row j-c-cc h-group">
                    <i id="search-icon" class="material-icons">
                        search
                    </i>
                    <mat-form-field class="half-width">
                        <input matInput (input)="filterCategoryEntries($event.target.value)" [(ngModel)]="searchInput">
                    </mat-form-field>
                </div>
            </div>
            <div class="f-s-1 d-f-column v-group fancy-scroll f-b-0">
                <div class="list-entry-class d-f-row j-c-cc" (click)="displayDetailsForEntry(entry)"
                    *ngFor="let entry of realCategoryEntries"
                    [ngClass]="{'selected-list-entry': selectedEntry === entry}">
                    {{entry.name ? entry.name : entry.title}}
                </div>
            </div>
            <div class="d-f-row j-c-sa">
                <button mat-raised-button color="primary" [disabled]="currentPage === 1"
                    (click)="getPreviousEntries()">Previous</button>
                <button mat-raised-button color="accent" [disabled]="isLastPage"
                    (click)="getNextEntries()">Next</button>
            </div>
        </div>
        <div class="m-20 f-s-1">
            <mat-card *ngIf="selectedEntry" class="d-f-column">
                <mat-card-header>
                    <mat-card-title>
                        Details
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="d-f-column v-group fancy-scroll f-b-0">
                    <div *ngFor="let field of cardFields">
                        {{field.title}}: {{field.value}}
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <div class="d-f-row j-c-sa">
                        <button *ngFor="let info of cardButtonsData" mat-flat-button color="primary"
                            [disabled]="!info.value.length" (click)="getCardRelatedInfo(info)">{{info.title}}</button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>