<div id="main-wrapper" class="d-f-column">
    <div class="d-f-row j-c-cc">
        <h3>Choose your category:</h3>
    </div>
    <div class="f-s-1 d-f-row">
        <div class="ripple-container mat-elevation-z4 f-s-1 d-f-column j-c-cc" (click)="switchMode('people')" matRipple>
            People
        </div>
        <div class="ripple-container mat-elevation-z4 f-s-1 d-f-column j-c-cc" (click)="switchMode('planets')"
            matRipple>
            Planets
        </div>
        <div class="ripple-container mat-elevation-z4 f-s-1 d-f-column j-c-cc" (click)="switchMode('films')" matRipple>
            Films
        </div>
    </div>
    <div class="f-s-1 d-f-row">
        <div class="ripple-container mat-elevation-z4 f-s-1 d-f-column j-c-cc" (click)="switchMode('species')"
            matRipple>
            Species
        </div>
        <div class="ripple-container mat-elevation-z4 f-s-1 d-f-column j-c-cc" (click)="switchMode('vehicles')"
            matRipple>
            Vehicles
        </div>
        <div class="ripple-container mat-elevation-z4 f-s-1 d-f-column j-c-cc" (click)="switchMode('starships')"
            matRipple>
            Starships
        </div>
    </div>
</div>