:host {
    flex: 1;
}

#main-wrapper {
    height: 100%;
    width: 100%;
}

#main-wrapper > div {
    margin: 10px;
}

.ripple-container {
    cursor: pointer;
  
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;

    margin: 40px;
  }