@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: #777;}

.d-f-row {
    display: flex;
    flex-direction: row;
}

.d-f-column {
    display: flex;
    flex-direction: column;
}

.j-c-start {
    justify-content: flex-start;
}

.j-c-center {
    justify-content: center;
}

.j-c-end {
    justify-content: flex-end;
}

.j-c-sb {
    justify-content: space-between;
}

.j-c-sa {
    justify-content: space-around;
}

.j-c-cc {
    justify-content: center;
    align-items: center;
}

.f-s-1 {
    flex: 1;
}

.f-s-2 {
    flex: 2;
}

.f-s-3 {
    flex: 3;
}

.v-group > * {
    margin: 10px 0;
}

.v-group > *:last-child {
    margin-bottom: 0;
}

.v-group > *:first-child {
    margin-top: 0;
}

.h-group > * {
    margin: 0 5px;
}

.h-group > *:last-child {
    margin-right: 0;
}

.h-group > *:first-child {
    margin-left: 0;
}

.p-20 {
    padding: 20px;
}

.m-20 {
    margin: 20px;
}

.half-width {
    width: 100%;
}

.fancy-scroll {
    overflow: auto;
}

.fancy-scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.fancy-scroll::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.fancy-scroll::-webkit-scrollbar-thumb
{
    background-color: #b8b8b8;
    border-radius: 50px;
}

.f-b-0 {
    flex-basis: 0;
}

